<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <!-- represents the items -->
    <div class="col-md-12" *ngIf="is_item_display">
      <div style="text-align: center; padding-bottom:30px; padding-top:30px;">
        <h3><u>Items</u></h3>
        <p>(select an item below to see a more detailed description)</p>
        <p *ngIf="list"> total number of items : {{list.length}} </p>
      </div>
      <div *ngIf="temp_list">
        <div class="col-md-4" *ngFor="let l of temp_list">
          <div class="gallery">
            <img src="../../../assets/computer.jpg" alt="Mountain View">
            <div class="desc">Item name: NAME</div>
            <div class="desc">Item description: hsdf fdjfbdjsaf dsjfbjdsnf sdif sd jf sd f fj dsjf jds</div>
            <div class="desc">Item Price: $45.34</div>
          </div>
        </div>
      </div>

    </div>
    <!-- represents the user -->
    <div class="col-md-12" *ngIf="is_user_display">
      <div style="text-align: center; padding-bottom:30px; padding-top:30px;">
        <h3><u>Users</u></h3>
        <p>(select a user below to verify or remove)</p>
        <p> total number of users : {{list.length}} </p>
      </div>
      <table id="cart" class="table table-hover table-condensed">
        <tbody>
        <tr *ngFor="let l of temp_list" >
          <td data-th="Product" style="padding-bottom:30px; padding-top:30px;">
            <div class="row">
              <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/>
              </div>
              <div class="col-sm-10">
                <h2 class="nomargin">Username</h2>
                <p class="nomargin">user type</p>
                <p class="nomargin">lastname, firstname</p>
                <p>description</p>
              </div>
            </div>
          </td>
          <td class="actions" data-th="">
            <button class="btn btn-info btn-sm"><i class="fa fa-check"></i></button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- represents the transactions -->
    <div class="col-md-12" *ngIf="is_transaction_display">
      <div style="text-align: center; padding-bottom:30px; padding-top:30px;">
        <h3><u>Transaction</u></h3>
        <p>(view transactions)</p>
        <p> total number of transactions : {{list.length}} </p>
      </div>
      <table id="cart" class="table table-hover table-condensed">
        <tbody>
        <tr *ngFor="let l of temp_list" >
          <td data-th="Product" style="padding-bottom:30px; padding-top:30px;">
            <div class="row">
              <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/>
              </div>
              <div class="col-sm-10">
                <h2 class="nomargin">Transaction Status: status</h2>
                <p class="nomargin">quantity : 2</p>
                <p class="nomargin">sold by: name</p>
              </div>
            </div>
          </td>
          <td class="actions" data-th="">
            <button class="btn btn-info btn-sm"><i class="fa fa-envelope-square"></i></button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- represents the reviews -->
    <div class="col-md-12" *ngIf="is_review_display">
      <div style="text-align: center; padding-bottom:30px; padding-top:30px;">
        <h3><u>Reviews</u></h3>
        <p>(view reviews)</p>
        <p> total number of reviews : {{list.length}} </p>
      </div>
      <table id="cart" class="table table-hover table-condensed">
        <tbody>
        <tr *ngFor="let l of temp_list" >
          <td data-th="Product" style="padding-bottom:30px; padding-top:30px;">
            <div class="row">
              <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/>
              </div>
              <div class="col-sm-10">
                <h2 class="nomargin">UserName</h2>
                <p class="nomargin">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
                <p class="nomargin">message</p>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- represents a cart -->
    <div class="col-md-12" *ngIf="is_cart_display">
      <div style="text-align: center; padding-bottom:30px; padding-top:30px;">
        <h3><u>Carts</u></h3>
        <p>(view cart)</p>
        <p> total number of cart : {{list.length}} </p>
      </div>
      <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
          <th style="width:50%">Product</th>
          <th style="width:10%">Price</th>
          <th style="width:8%">Quantity</th>
          <th style="width:22%" class="text-center">Subtotal</th>
          <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let l of temp_list">
          <td data-th="Product" style="padding-bottom:30px; padding-top:30px;">
            <div class="row">
              <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
              <div class="col-sm-10">
                <h4 class="nomargin">Product 1</h4>
                <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </td>
          <td data-th="Price">$1.99</td>
          <td data-th="Quantity">
            <input type="number" class="form-control text-center" value="1">
          </td>
          <td data-th="Subtotal" class="text-center">1.99</td>
          <td class="actions" data-th="">
            <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="visible-xs">
          <td class="text-center"><strong>Total 1.99</strong></td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
          <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div style="text-align: center; padding-bottom:50px; padding-top:50px;">
      <div class="col-md-4">
        <p class="btn btn-warning" (click)="previous()"><i class="fa fa-angle-left"></i> Previous</p>
      </div>
      <div class="col-md-4">
        <h4>{{this.current_page}}/ {{this.last_page}}</h4>
      </div>
      <div class="col-md-4">
        <p class="btn btn-warning" (click)="next()"><i class="fa fa-angle-left"></i> Next</p>
      </div>
    </div>
  </div>
</footer>

<style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
  }

  @media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
      width: 20%;
      display: inline !important;
    }

    .actions .btn {
      width: 36%;
      margin: 1.5em 0;
    }

    .actions .btn-info {
      float: left;
    }

    .actions .btn-danger {
      float: right;
    }

    table#cart thead {
      display: none;
    }

    table#cart tbody td {
      display: block;
      padding: .6rem;
      min-width: 320px;
    }

    table#cart tbody tr td:first-child {
      background: #333;
      color: #fff;
    }

    table#cart tbody td:before {
      content: attr(data-th);
      font-weight: bold;
      display: inline-block;
      width: 8rem;
    }

    table#cart tfoot td {
      display: block;
    }

    table#cart tfoot td .btn {
      display: block;
    }

  }
</style>
