<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div [hidden]="submitted">
        <h1 style="text-align: center"> <u>Welcome Back</u> </h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <div *ngIf="unauthenticated===true"
               class="alert alert-danger">
            This password and username combination is not in the database.
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username"
                   required
                   [(ngModel)]="model.userName" name="username"
                   #username="ngModel">
            <div [hidden]="username.valid || username.pristine"
                 class="alert alert-danger">
              Username is required
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                   [(ngModel)]="model.password" name="password"
                   required
                   #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
                 class="alert alert-danger">
              password is required
            </div>
          </div>

          <div class="form-group">
            <label for="type">Select Account Type</label>
            <select class="form-control" id="type"
                    required
                    [(ngModel)]="model.type" name="type"
                    #type="ngModel">
              <option *ngFor="let type of clientType" [value]="type">{{type}}</option>
            </select>
            <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
              Account type is required
            </div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Login Here</button>
          <button type="button" class="btn btn-default" (click)="reset(); heroForm.reset()">Reset Fields</button>
          <i>with</i> reset

          <div>
          </div>
          <!-- - -->
        </form>
      </div>
    </div>
  </div>

  <style>
    .no-style .ng-valid {
      border-left: 1px  solid #CCC
    }

    .no-style .ng-invalid {
      border-left: 1px  solid #CCC
    }
  </style>
</div>
