<div class="col-md-12">
    <h3>Profile</h3>
</div>
<div class="col-md-4" *ngIf="clientModel.userid">
  <img src="../../../assets/profilepic.jpg" class="img-responsive" alt="Cinque Terre">
    <app-entity-display [aUser]="clientModel"></app-entity-display>
</div>
<div class="col-md-6" *ngIf="currentUser == userId">
    <h3>Actions</h3>

      <div *ngFor="let o of options">
        <div *ngIf="!o.link.toLowerCase().includes('list');else other_content;">
        <h4>
          <a routerLink={{o.link}}>{{o.name}}</a>
        </h4>
      </div>
        <ng-template #other_content>
          <h4>
            <a (click)="handle_link(o)">{{o.name}}</a>
          </h4>
        </ng-template>
    </div>
</div>
