<div class="col-md-12">
    <h3>Single Item</h3>
</div>
<div class="col-md-12" *ngIf="itemModel.itemid">
    <app-entity-display [anItem]="itemModel"></app-entity-display>
    <div>
        Quantity: {{itemModel.quantity}} <br><!-- get from itemModel -->
        <input [(ngModel)]="this.itemQuantity" style="display: inline-block" type="number"><button type="button" (click)='add_to_cart()'>ADD TO CART</button>
    </div>
</div>
<div class="col-md-12">
    <app-genericlist></app-genericlist>
</div>

